extends ./base.jade

block page_header
   .col-sm-12
      .page-header
         // BREADCRUMBS
         ul.breadcrumb
            li
               i.fa.fa-home
               a(href='/') Home
            li User Dashboard
         // BREADCRUMBS
         .clearfix
            h3.content-title.pull-left Dashboard
            // DATE RANGE PICKER
            // /DATE RANGE PICKER
         .description Manage your StudyBuddy account

block page_content
   .col-md-6
      .box.border.green
         .box-title
            h4
               i.fa-star.fa
               span Study Group
         .box-body
            a.btn.btn-success.btn-large.btn-block(href="/map/")
               i.fa.fa-search
               | &nbsp;Find a Study Group
            a.btn.btn-success.btn-large.btn-block(href="/map/")
               i.fa.fa-pencil
               | &nbsp;Create a Study Group

   .col-md-6
      .box.border.blue
         .box-title
            h4
               i.fa-tags.fa
               span Study Interests
         .box-body
            .row
               .col-md-12
                  | Your existing Study Interests.
                  br
                  h4#SI-container
            br
            .row
               .col-md-12
                  | Add new Study Interests.
                  select.form-control#interests(multiple)
                  hr
                  button.btn.btn-info#saveSI Save
   .col-md-12
      .box.border.grey
         .box-title
            h4
               i.fa-book.fa
               span Your Study Sessions
         .box-body
            table.datatable.table.table-hover.table-bordered.table-striped
               thead
                  th Name
                  th Topics
                  th Location
                - var values = my_sessions
               
               tbody
                  each session in values
                     tr
                        td #{session.name}
                        td #{session.targetInterest.name}
                        td #{session.location.name}

   #channelsModal.modal.fade(tabindex='2', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') &times;
                  span.sr-only Close
               h4#channelsModalTitle.modal-title Manage Channels
            .modal-body
               .row
                  .col-md-12
                     | You are currently subscribed to the following channels under this Study Interest:
                     h4#channels-container
                  br
               .row
                  .col-md-12
                     | Create and/or subscribe to channels:
                     br
                     select.form-control#channels(multiple)
            .modal-footer
               button.btn.btn-default(type='button', data-dismiss='modal') Close
               button#saveCH.btn.btn-primary(type='button', data-dismiss='modal') Save changes


block post_scripts

   script(type="text/javascript").
      $.fn.modal.Constructor.prototype.enforceFocus = function () {
         var that = this;
         $(document).on('focusin.modal', function (e) {
            if ($(e.target).hasClass('select2-input')) {
               return true;
            }

            if (that.$element[0] !== e.target && !that.$element.has(e.target).length) {
               that.$element.focus();
            }
         });
      };
      $(document).ready(function() {

         window.SIremovalList = [];

         $("#interests").select2({
            tags: true,
            tokenSeparators: [','],
            minimumInputLength: 3,
            createSearchChoice: function(term, data) {
                   if ($(data).filter(function() {
                     return this.text.localeCompare(term) === 0;
                   }).length === 0) {
                     return {
                       id: term,
                       text: term
                     };
                   }
                 },
            multiple: true,
            ajax: {
               url: '/studyinterests/query/',
               dataType: 'json',
               data: function(term, p) {
                  return term;
               },
               results: function(data, p) {
                  console.log(data);
                  return data;
               }
            }
         });

         $.ajax(
            {
               url: "/studyinterests/queryuser/",
               async: false,
               dataType: "json",
               success: function(data) {
                  _.forEach(data, function(value, index) {
                     $("#SI-container").append("<span class='label label-info SItag' id='SI-"+ value.id +"'>" + value.name + "&nbsp;<a href='#' class='SI-remove' data-SI-id='"+ value.id +"'>&times;</a>");
                     $("#SI-container").append("&nbsp;");
                  });
               }
         });

         $(".SI-remove").click(function(e) {
            e.preventDefault();
            var SIid = $(this).attr('data-SI-id');
            $("#SI-"+SIid).remove();
            window.SIremovalList.push(SIid);
            });

         $("#saveSI").click(function() {
            console.log(window.SIremovalList);
            var addsend;
            if ($("#interests").val()) {
               addsend = $("#interests").val().join(",")
               } else {addsend = ""};
            $.ajax({
               type: "POST",
               url: "/studyinterests/update/",
               data: {
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  removal: window.SIremovalList.join(","),
                  addition: addsend
               },
               success: function(data) {
                  if (data == 'OK') window.location.reload();
               }
               });
            });

         $(".SItag").click(function(){
            var SIid = $(this).attr('id').split("-")[1];
            window.SIid_curr = SIid;
            $("#channelsModal").modal('show');
            $("#channels-container").html("");
            $.ajax({
               type: "GET",
               dataType: "json",
               url: "/user/channels/query/?interest=" + SIid,
               success: function(data) {
                  console.log(data);
                  _.forEach(data, function(value, index) {
                     $("#channels-container").append("<span class='label label-info CHtag' id='CH-"+ value.id +"'>" + value.name + "&nbsp;<a href='#' class='CH-remove' data-CH-id='"+ value.id +"'>&times;</a>");
                     $("#channels-container").append("&nbsp;");
                  });
                  window.CHremovalList = [];
                  $(".CH-remove").click(function(e) {
                     var CHid = $(this).attr('data-CH-id');
                     $("#CH-"+CHid).remove();
                     window.CHremovalList.push(CHid);
                  });
               }
               });

               $("#channels").select2({
               tags: true,
               tokenSeparators: [','],
               minimumInputLength: 3,
               createSearchChoice: function(term, data) {
                      if ($(data).filter(function() {
                        return this.text.localeCompare(term) === 0;
                      }).length === 0) {
                        return {
                          id: term,
                          text: term
                        };
                      }
                    },
               multiple: true,
               ajax: {
                  url: '/interestchannels/query/?interest='+SIid,
                  dataType: 'json',
                  data: function(term, p) {
                     return term;
                  },
                  results: function(data, p) {
                     return data;
                  }
               }
            });

         });

         $("#saveCH").click(function() {
            $.ajax({
               url: "/user/channels/update/",
               type: "POST",
               data: {
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  interest: window.SIid_curr,
                  addition: $("#channels").val().join(","),
                  removal: window.CHremovalList.join(",")
               },
               success: function(data) {
                  $("#channels").val("");
               }
               })
         });
         });