extends ./base.jade

block page_header
   .col-sm-12
      .page-header
         // BREADCRUMBS
         ul.breadcrumb
            li
               i.fa.fa-home
               a(href='index.html') Home
            li User Dashboard
         // BREADCRUMBS
         .clearfix
            h3.content-title.pull-left Dashboard
            // DATE RANGE PICKER
            // /DATE RANGE PICKER
         .description Manage your StudyBuddy account

block page_content
   .col-md-6
      .box.border.green
         .box-title
            h4
               i.fa-star.fa
               span Study Group
         .box-body
            a.btn.btn-success.btn-large.btn-block
               i.fa.fa-search
               | &nbsp;Find a Study Group
            a.btn.btn-success.btn-large.btn-block
               i.fa.fa-pencil
               | &nbsp;Create a Study Group

   .col-md-6
      .box.border.blue
         .box-title
            h4
               i.fa-tags.fa
               span Study Interests
         .box-body
            .row
               .col-md-12
                  | Your existing Study Interests.
                  br
                  h4#SI-container
            br
            .row
               .col-md-12
                  | Add new Study Interests.
                  input.form-control#interests(type="text")
                  button.btn.btn-info#saveSI Save

   #channelsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
               button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') &times;
                  span.sr-only Close
               h4#channelsModalTitle.modal-title Modal title
            .modal-body
               .row
                  .col-md-12
                     | You are currently subscribed to the following channels under this Study Interest:
                     h4#channels-container
                  br
                  .col-md-12
                     | Create and/or subscribe to channels:
                     input.form-control#channels(type="text")
            .modal-footer
               button.btn.btn-default(type='button', data-dismiss='modal') Close
               button#saveCH.btn.btn-primary(type='button', data-dismiss='modal') Save changes


block post_scripts
   link(rel='stylesheet', type='text/css', href='#{STATIC_URL}tagsinput/bootstrap-tagsinput.css')
   script(src='#{STATIC_URL}tagsinput/bootstrap-tagsinput.js')
   script(src='#{STATIC_URL}js/typeahead.js')
   script(type="text/javascript").
      $(document).ready(function() {
         var studyInterests = new Bloodhound({
           datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
           queryTokenizer: Bloodhound.tokenizers.whitespace,
           remote: '/studyinterests/query/?query=%QUERY',
         });
         studyInterests.initialize();
         $("#interests").tagsinput({
               typeaheadjs: {
                  name: 'studyInterests',
                  displayKey: 'name',
                  valueKey: 'name',
                  source: studyInterests.ttAdapter()
               }
         });
         $(".bootstrap-tagsinput").addClass("form-control");
         window.SIremovalList = [];

         $.ajax(
            {
               url: "/studyinterests/queryuser/",
               async: false,
               dataType: "json",
               success: function(data) {
                  _.forEach(data, function(value, index) {
                     $("#SI-container").append("<span class='label label-info SItag' id='SI-"+ value.id +"'>" + value.name + "&nbsp;<a href='#' class='SI-remove' data-SI-id='"+ value.id +"'>&times;</a>");
                     $("#SI-container").append("&nbsp;");
                  });
               }
         });

         $(".SI-remove").click(function(e) {
            e.preventDefault();
            var SIid = $(this).attr('data-SI-id');
            $("#SI-"+SIid).remove();
            window.SIremovalList.push(SIid);
            });

         $("#saveSI").click(function() {
            console.log(window.SIremovalList);
            $.ajax({
               type: "POST",
               url: "/studyinterests/update/",
               data: {
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  removal: window.SIremovalList.join(","),
                  addition: $("#interests").val()
               },
               success: function(data) {
                  if (data == 'OK') window.location.reload();
               }
               });
            });

         $(".SItag").click(function(){
            var SIid = $(this).attr('id').split("-")[1];
            window.SIid_curr = SIid;
            $("#channelsModal").modal();
            $("#channels-container").html("");
            $.ajax({
               type: "GET",
               dataType: "json",
               url: "/user/channels/query/?interest=" + SIid,
               success: function(data) {
                  console.log(data);
                  _.forEach(data, function(value, index) {
                     $("#channels-container").append("<span class='label label-info CHtag' id='CH-"+ value.id +"'>" + value.name + "&nbsp;<a href='#' class='CH-remove' data-CH-id='"+ value.id +"'>&times;</a>");
                     $("#channels-container").append("&nbsp;");
                  });
                  window.CHremovalList = [];
                  $(".CH-remove").click(function(e) {
                     var CHid = $(this).attr('data-CH-id');
                     $("#CH-"+CHid).remove();
                     window.CHremovalList.push(CHid);
                  });
               }
               });

            var interestChannels = new Bloodhound({
              datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
              queryTokenizer: Bloodhound.tokenizers.whitespace,
              remote: '/interestchannels/query/?interest='+ SIid +'&query=%QUERY',
            });
            interestChannels.initialize();
            $("#channels").tagsinput({
                  typeaheadjs: {
                     name: 'interestChannels',
                     displayKey: 'name',
                     valueKey: 'name',
                     source: interestChannels.ttAdapter()
                  }
            });
            $(".bootstrap-tagsinput").addClass("form-control");

         });

         $("#saveCH").click(function() {
            $.ajax({
               url: "/user/channels/update/",
               type: "POST",
               data: {
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  interest: window.SIid_curr,
                  addition: $("#channels").val(),
                  removal: window.CHremovalList.join(",")
               },
               success: function(data) {
                  $("#channels").val("");
               }
               })
         });
         });